
<body>
    <form action="/vinis" method="POST">
    <input type="text" name="nome" placeholder="Nome do vinil" required>
    <input type="text" name="artista" placeholder="Nome do vinil" required>
    </form>
</body>